* {
	box-sizing: border-box;
}

@font-face {
    font-family: "myFont";
    src: url("fonts/FjallaOne-Regular.ttf");
}

body {
    display: flex;
	align-items: center;
	justify-content: center;
    height: 100vh;
    font-family: "myFont";
	font-size: 1em;
	font-weight: 200;
	color: #fff;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: .5;
	z-index: 0;
    filter:grayscale(100%);
}

.form-container {
	background-image: url(img/forest-bg.jpg);
	margin: auto auto;
	padding: 20px;
	border-radius:15px;
	box-shadow: 0 0 35px rgb(0, 0, 0);
	width: 440px;
	height: 640px;
	z-index: 1;
}

.form {
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	margin: auto auto;
	box-shadow: 0 0 15px rgb(0, 0, 0);
	padding: 15x;
	border-radius:15px;
	width: 400px;
	height: 600px;
	text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
	z-index: 2;
}

.header-text {
	font-size: 3.5em;
	margin-bottom: 50px;
    opacity: 90%;
	text-align: center;
}

.form input {
	margin: 15px 0px 0px 10px;
	border: none;
	padding: 10px;
	border-radius: 10px;
	width: 80%;
	font-size: 1.125em;
	letter-spacing: 1px;
	opacity: 80%;
	outline: none;
	cursor:text;
	font-family: "myFont";
}

.form input:focus {
	background-color: lightgreen;
}

.form-consent {
	margin-top: 20px;
}

.form input[type=checkbox] {
	display: none;
}

.form label {
	position: relative;
	margin-left: 5px;
	margin-right: 10px;
	top: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.form label:before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	left: 5px;
	bottom: 2px;
	background-color: #ddd;
}
.form input[type=checkbox]:checked+label:before {
	content: "\2717";
	font-size: 20px;
	color: #000;
	text-align: center;
	line-height: 20px;
}
.form span {
	font-size: 1em;
}

.form button {
	font-size: 1.2em;
	background-color: deepskyblue;
	color: #fff;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	width: 80%;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	padding: 10px;
	margin-top: 50px;
	font-family: "myFont";
}
  
.form button:hover {
	background-color: #4CAF50; /* Green */
	transition: ease-in-out 0.3s;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.terms {
	font-size: 1em;
	margin: auto auto;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0 0 15px #000;
	position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	width: 700px;
	text-align: justify;
	min-height: 100vh;
}

.back {
	text-align: center;
}

.form-img {
    display: flex;
	width: 30px;
	height: 30px; 
	display: flex;
	margin-top: 20px;
	opacity: 50%;
}

.form-field {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
/* validation */

  input:valid {
	border: 1px solid lightgreen;
  }

  input:invalid {
	border: 1px solid lightcoral;
  }

/* links */

a {
	background-color: transparent;
	text-decoration: none;
}

a:link {
	color: white;
}
  
a:hover {
	color: lightskyblue;
	font-size:larger;
	transition: .2s ease-in-out;
}

a:visited {
    color: yellow;
}
  
a:active {
	color:mediumslateblue;
}

  /* Media query w środku arkusza stylów  */

@media (max-width: 480px) {

	.form-box .header-text {
		font-size: 3em;
	}

	.form-container {
		max-width: 390px;
	}
	.form {
		max-width: 350px;
	}

	.terms {
		max-width: 400px;
		min-width: 300px;
		font-size: 1em;
	}

	.form-img {
		display: none;
	}

	#myVideo {
		display: none;
	}
}